/*===..:: START INDEX PAGE OF ASRARCOLLEGE ::..===*/

*{margin:0px; padding:0px;}

body{
	background-color:#0D9AC8;
}

#allpage{
	background:#0D9AC8 url('../image/pic-site/background.png') repeat-y center;
	box-shadow:0px 1px 10px 5px #0A7A9E , 0px -1px 10px 5px #0A7A9E inset;
	-moz-box-shadow:0px 1px 10px 5px #0A7A9E , 0px -1px 10px 5px #0A7A9E inset;
	-webkit-box-shadow:0px 1px 10px 5px #0A7A9E , 0px -1px 10px 5px #0A7A9E inset;
}

.body-index{
	width:920px;
	background-color:#CFF;
	margin:0px auto;
}

.print-session{
	width:920px;
	height:60px;
	background-color:#abbacc;
	text-align:center;
	border:solid 2px #555;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position:fixed;
	top:200px;
	z-index:100;
}

.print-session span{
	position:relative;
	top:35%;
	font-weight:bold;
	font-size:20px;
	color:#F30;
	text-shadow:#555 -1px 1px 0px,#fff 1px -1px 0px;
}

.header{
	width:920px;
	height:150px;
	background-color:#0D9AC8;
	box-shadow:0px 0px 10px 5px #0A7A9E inset;
	-moz-box-shadow:0px 0px 10px 5px #0A7A9E inset;
	-webkit-box-shadow:0px 0px 10px 5px #0A7A9E inset;
}

/*===..:: START ANIMATION MENU ::..===*/

ul#navigation {
	position:relative;
    margin:0px;
    padding:0px;
    top:0px;
	left:200px;
    z-index:2;
    width:500px;
}

ul#navigation li {
    width: 103px;
    display:inline;
    float:left;
	cursor:pointer;    
}

ul#navigation li a {
    display: block;
    float:left;
    margin-top: -2px;
    width: 100px;
    height: 30px;
    background-color:#0D9AC8;
    background-repeat:no-repeat;
	background-position:50% 10px;
    border:1px solid #BDDCEF;
    border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	box-shadow:0px 0px 10px 5px #0A7A9E inset;
	-moz-box-shadow:0px 0px 10px 5px #0A7A9E inset;
	-webkit-box-shadow:0px 0px 10px 5px #0A7A9E inset;
    text-decoration:none;
    text-align:center;
    padding-top:80px;
    opacity: 0.9;  
}

ul#navigation li a:hover{
     background-color:#CAE3F0;
}

ul#navigation li a span{
    letter-spacing:2px;
    font-size:11px;
    color:#000;
    text-shadow: 0 -1px 1px #CCC;      
}

ul#navigation .home a{
    background-image:url('../image/pic-menu/home.png');
}

ul#navigation .about a      {
    background-image: url('../image/pic-menu/id_card.png');
}

ul#navigation .search a      {
    background-image: url('../image/pic-menu/search.png');
}

ul#navigation .photos a     {
    background-image: url('../image/pic-menu/camera.png');
}

ul#navigation .contact a    {
    background-image: url('../image/pic-menu/mail.png');
}

ul#navigation .register a    {
    background-image: url('../image/pic-menu/register.png');
}

ul#navigation .forgotpass a    {
    background-image: url('../image/pic-menu/forgotpass.png');
}

ul#navigation .logout a    {
    background-image: url('../image/pic-menu/logout.png');
}

ul#navigation .profile a    {
    background-image: url('../image/pic-menu/profile.png');
}

/*===..:: END ANIMATION MENU ::..===*/

.logo-site{
	width:100px;
	height:150px;
	background-image:url('../image/pic-site/logo.png');
	position:relative;
	left:15px;
}

.welcome{
	width:300px;
	height:100px;float:right;
	background-image:url('../image/pic-site/welcome.png');
	position:relative;
	top:25px;
	right:5px;
}

.contain{
	width:920px;
	height:580px;
	background-color:#0D9AC8;
	box-shadow:0px 0px 10px 5px #0A7A9E inset;
	-moz-box-shadow:0px 0px 10px 5px #0A7A9E inset;
	-webkit-box-shadow:0px 0px 10px 5px #0A7A9E inset;
}

.body-form-site{
	width:300px;
	height:450px;
	float:left;
}

.form-site{
	width:300px;
	height:400px;
}

.waiting{
	width:100px;
	text-align:center;
	opacity:0.3;
	display:none;
	position:relative;
	left:100px;
	top:40%;
}

.form-con{
	width:270px;
	height: 350px;
	position:relative;
	padding:10px 0px 10px 0px;
	top:20px;
	left:15px;
	background-color:#0A7A9E;
	box-shadow:0px 0px 10px 5px #0D9AC8 inset;
	-moz-box-shadow:0px 0px 10px 5px #0D9AC8 inset;
	-webkit-box-shadow:0px 0px 10px 5px #0D9AC8 inset;
}

#table-about{
	margin:10px auto;
	height:200px;
	font-weight:bold;
	text-align:center;
	color:#000;
	text-shadow:2px 2px 3px #222 , -2px -2px 3px #666;
}

.suport{
	width:180px;
	margin:0px auto;
	opacity:0.4;
}

.suport table{
	text-align:center;
	width:160px;
	margin:0px auto;
}

.suport table img{
	cursor:crosshair;
}

#tablecont{
	margin:10px auto;
}

.sum-trak{
	width:250px;
	height:30px;
	margin:0px auto;
}

#tabletrak{
	margin:0px auto;
	text-align:left;
	font-size:14px;
	font-weight:bold;
}

.form-contain{
	width:620px;
	height:450px;
	float:left;
}

.form-registered{
	width:605px;
	position:relative;
	padding:10px 0px 10px 0px;
	top:20px;
	left:15px;
	background-color:#0A7A9E;
	box-shadow:0px 0px 10px 5px #0D9AC8 inset;
	-moz-box-shadow:0px 0px 10px 5px #0D9AC8 inset;
	-webkit-box-shadow:0px 0px 10px 5px #0D9AC8 inset;
}

#tablereg{
	width:580px;
	margin:10px auto;
	text-align:right;
	font-size:12px;
	font-weight:bold;
}

#tablereg th{
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#999;
}

#tablereg td{
	color:#848484;
	text-shadow: 0 3px 5px #000;
}

.pic-animate{
	width:920px;
	height:120px;
	clear:both;
}

/*===..:: END ANIMATION PICTURE ::..===*/

.form-img{
	width:805px;
	height:112px;
	margin:0px auto;
	background-color:#0A7A9E;
	-moz-border-radius:10px;
	box-shadow:0px 0px 10px 5px #0D9AC8 inset;
	-moz-box-shadow:0px 0px 10px 5px #0D9AC8 inset;
	-webkit-box-shadow:0px 0px 10px 5px #0D9AC8 inset;
}

div.images{
	width:765px;
	height:82px;
	position:relative;
	left:22px;
	top:15px;
	overflow:hidden;
}

div.images div{
	width:150px;
	height:80px;
	border:1px solid #006cff;
	float:left;
	position:relative;
	cursor:pointer;
}

div.images div.img1{
	background-image:url('../image/pic-site/1devs.png');
}

div.images div.img2{
	background-image:url('../image/pic-site/pic-ani.png');
}

div.images div.img3{
	background-image:url('../image/pic-site/pic-ani.png');
}

div.images div.img4{
	background-image:url('../image/pic-site/pic-ani.png');
}

div.images div.img5{
	background-image:url('../image/pic-site/logosite.png');
}

/*===..:: END ANIMATION PICTURE ::..===*/

.footer{
	width:920px;
	height:30px;
	background-color:#0A7A9E;
}

.footer span{
	color:#999;
}

.footer a{
	text-decoration:none;
	color:#999;
	
}

#tablefooter{
	width:900px;
	margin:0pc auto;
	text-align:center;
}

.text{
	width:140px;
	background-color:#0D9AC8;
	color:#DDD;
	border:1px solid #000;
	text-align:center;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
}

.boldtext{
	font-weight:bold;
}

.btn-submit{
	width:100px;
	font-weight:bold;
}

.leftalign{
	text-align:left;
}

.rightalign{
	text-align:right;
}

.centeralign{
	text-align:center;
}

.errorline{
	color:#444;
}